body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
}


header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

section {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.error {
    color: red;
}

/* Tautan navigasi aktif */
nav a.active {
    font-weight: bold;
}

/* Efek hover pada tautan navigasi */
nav a:hover {
    text-decoration: underline;
}

/* Gaya untuk artikel */
.article {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.article h3 {
    margin-top: 0;
}

.article p {
    margin-bottom: 10px;
}

.article a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.article a:hover {
    text-decoration: underline;
}

.facts body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
}


.facts header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.facts nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.facts main {
    padding: 20px;
}

.facts section {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
}

 #logout-button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #f44336; /* Warna merah */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

 #logout-button:hover {
        background-color: #d32f2f; /* Warna merah yang lebih gelap saat di-hover */
    }

